* { box-sizing: border-box; margin: 0; padding: 0; }

.clearfix { clear: both; }



#tabla { text-align: center; width: 302px; height: 302px; border: thin solid black; margin-left: 40%; margin-top: 10%}
.row { width: 100%;}
.cel { width: 100px; height: 100px; border: thin solid black; float: left; padding-top: 20px;}
